/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--background-color);
  font-family: var(--main-font-family), Arial, sans-serif;
  font-variation-settings: 'wght' var(--main-text-font-weight);
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 103px;
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  padding-block-end: 23px;
  background-color: var(--background-color);
  color: var(--main-color);
  outline: 2px solid var(--main-color) ;
  font-family: var(--accent-font-family), Arial, sans-serif;
}

.contant {
  inline-size: var(--contant-size);
}

.header__title {
  margin-block-end: clamp(0.9375rem, 0.8495rem + 0.3756vw, 1.1875rem);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
  text-transform: uppercase;
}

.header__subtitle {
  margin-block-end: clamp(1.0625rem, 0.9305rem + 0.5634vw, 1.4375rem);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 23px;
  text-transform: uppercase;
  font-variation-settings: 'wght' var(--subtitle-font-weight);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-inline-start: 17px;
}

.theme-menu__button {
  cursor: pointer;
  position: relative;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 14px;
  line-height: 14px;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.theme-menu__button::after {
  display: block;
  position: absolute;
  content: '';
  transform: scaleX(0);
  transform-origin: left;
  block-size: 2px;
  inline-size: 100%;
  background: var(--main-color);
  opacity: 0.6;
}

.theme-menu__button:focus {
  opacity: 0.6;
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after{
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  position: relative;
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  position: absolute;
  content: "▶";
  color: var(--main-color);
  opacity: 0.6;
  animation: triangle-moving 0.5s ease-in-out alternate infinite;
  inset-inline-start: -20px;
}

.cards__list{
  margin-block-start: 102px;
  display: flex;
  flex-direction: column;
  gap: 54px;
  margin-block-end: 52px;
}

.card {
  display: block;
  background-color: var(--background-color);
  color: var(--main-color);
  outline: 2px solid var(--main-color);
}

.card__title {
  padding: 4px 10px 6px;
  font-size: inherit;
  font-variation-settings: 'wght' var(--title-font-weight);
  line-height: 22px;
  padding-block-start: 5px;
  padding-block-end: 5px;
  inline-size: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
}

.card__picture {
  object-fit: cover;
  object-position: center;
  vertical-align: middle;
  inline-size: 100%;
  block-size: 100%;
  z-index: 0;
}

.card__picture-container {
  position: relative;
  outline: 2px solid var(--main-color);
}

.card__label {
  position: absolute;
  top: 25px;
  right: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
  color: var(--main-color);
  text-shadow:
    -1px 0 var(--background-color),
    0 1px var(--background-color),
    1px 0 var(--background-color),
    0 -1px var(--background-color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  font-size: 14px;
  font-family: var(--accent-font-family), Arial, sans-serif;
  font-weight: inherit;
  z-index: 1;
}

@supports((text-stroke: 1px var(--background-color)) or (-webkit-text-stroke: 1px var(--background-color))) {
    .card__label{
        -webkit-text-stroke: 1px var(--background-color);
        text-stroke: 1px var(--background-color);
        text-shadow: none;
    }
} 

.card__description {
  padding: 28px 25px 25px 25px;
}

.card__main-text-container {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-block-end: 25px;
}

.card__main-text {
  font-size: inherit;
  font-weight: inherit;
  line-height: 21px;
  max-inline-size: 646px ;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: 35px;
  padding-inline-end: 12px;
}
 .card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible{
  outline: 2px solid var(--main-color);
} 

.like-icon {
  width: 33px;
  height: 36px;
  transition-timing-function: linear;
}

.like-icon:hover .core {
  fill: var(--main-color);
  transition-duration: 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--main-color);
  transition-duration: 0.3s;
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--heart-sparks-color);
  transition-duration: 0.3s;
}

.like-icon:active .main-body {
  fill: var(--heart-sparks-color);
  transition-duration: 0.3s;
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--heart-sparks-color);
  transition-duration: 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-sparks-color);
  transition-duration: 0.3s;
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-sparks-color);
  transition-duration: 0.3s;
  transition-delay: 0.06s;
}

.like-icon.is-liked {
  animation: heart-scaling 0.3s 0.1s ease-in reverse;
}

.like-icon.is-liked .sparks {
  animation: sparks-coloring 0.3s 0.3s ease-in reverse ;
}

.sparks {
  opacity: 0;
}

.contour {
  fill: var(--main-color);
  transition-duration: 0.1s;
}

.core {
  fill: transparent;
  transition-delay: 0.03s;
  transition-duration: 0.3s;
}

.main-body {
  fill: transparent;
  transition-duration: 0.3s;
}

.card__buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 3px;
}

.card__like-button {
  padding: 0;
  inline-size: 130px;
  block-size: 38px;
}

.button__text {
  font-size: 14px;
  font-weight: inherit;
  font-family: var(--accent-font-family), Arial, sans-serif;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--button-text-color);
  text-align: center;
  line-height: 90%;
}

.content__button {
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
  position: relative;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.content__button:focus {
  outline: none;
}

.content__button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-color);
}

.content__button::before {
  display: block;
  position: absolute;
  content: '';
  inset: 0;
  transform: scaleX(0);
  transform-origin: left;
  background: var(--main-color);
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  z-index: 0;
}

.content__button:hover::before {
  transform: scale(1);
}

.grayscale__filter {
  filter: grayscale(1);
}

.sepia__filter {
  filter: sepia(90%);
}

.brightness__filter {
  filter: brightness(250%) contrast(70%);
}

.blur__filter {
  filter: blur(5px);
}

.invert__filter {
  filter: invert(70%);
}

.saturate__filter{
  filter: saturate(300%);
}

.opacity__filter {
  filter: opacity(15%);
}

.filter {
  filter: hue-rotate(-60deg) brightness(100%) opacity(75%) ;
}

.button__save {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto 100px;
  padding: 15px 20px;
  gap: 8px;
}

.floppy {
  color: var(--button-text-color);
  mix-blend-mode: difference;
  position: relative;
  z-index: 1;
}

.floppy__button {
  inline-size: 21px;
}

.floppy__dialog {
  inline-size: 39px;
  block-size: 39px;
  align-self: center;
}

.dialog[open] {
  display: grid;
  grid-template-columns: auto;
  column-gap: 20px;
  row-gap: 30px;
  max-inline-size: 353px;
  padding: 30px;
  color: var(--main-color);
  background-color: var(--background-color);
  font-family: var(--accent-font-family), Arial, sans-serif;
}

.button__dialog {
  grid-column: 1 / span 2;
  padding: 9px 0 9px 0;
  text-transform: uppercase;
}

.dialog__title {
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  max-inline-size: 234px;
}

.dialog::backdrop {
  background-color: var(--backdrop-color);
}


@media (width <=376px) {
  .floppy__button {
      inline-size: 28px;
    }

  .button__save {
  flex-wrap: wrap;
  inline-size: 310px;
}
    
}